.gitignore
/FlowCharts
/.ipynb_checkpoints
*.ipynb_checkpoints
*__pycache__
/GesBerry\ Machine\ Learning/.ipynb_checkpoints/GesBerry - Machine Learning-checkpoint.ipynb
/GesBerry\ Machine\ Learning/_Experiments.ipynb
